<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: headFragment"></head>

<body>
	<div class="container-fulid" style="min-height: 100vh; background-color: #f0f2f5">
	<div class="container">
		<div class="row pt-5">
			<div class="col-12 text-center">
				<h1 class="font-404">404</h1>
				<h2 class="fs-3">Page Not Found</h2>
			</div>
			<div class="col-12 d-flex justify-content-center">
				<div class="four-o-four-img-container">
				<img src="/img/404-Cat.png" alt="404 Cat image" style="width: 100%; height: 100%;">
				</div>
			</div>
			<div class="col-12 col-md-6 mx-auto my-2 d-grid">
				<a href="/" class="btn btn-primary">Go home</a>
			</div>
		</div>
		</div>
	</div>
</body>

</html>