<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: headFragment"></head>

<body>
	<div class="container-fluid" style="min-height: 100vh; background-color: #f0f2f5">
		<div class="row pt-5 justify-content-center">
			<div class="col-12">
				<img src="https://www.gcu.edu/sites/default/files/media/Documents/brand/logos/ai/AcademicGCU_Lope_267.png" 
					alt="GCU Logo" 
					class="mx-auto d-block animate__animated animate__fadeInDown gcu-logo"
					style="animation-delay: .3s;"
				>
			</div>
			<div class="col-12 col-lg-4 text-center">
				<div class="card my-5 px-2 py-2 shadow animate__animated animate__fadeInUp" style="animation-delay: .5s">
					<h1 class="animate__animated animate__fadeInUp" style="animation-delay: 1s">GCU - Capstone Project</h1>
					<h2 class="animate__animated animate__fadeInUp" style="animation-delay: 1.2s; color: #007bff;">Entry Point</h2>
					<h4 class="animate__animated animate__fadeInUp" style="animation-delay: 1.4s">Bradley Austin</h4>
					<p class="animate__animated animate__fadeInUp" style="animation-delay: 1.6s">Version: 1.0</p>
					<button type="button" class="btn btn-primary" onclick="window.location.href='/login';">Enter</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>