<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: headFragment"></head>

<body>
	<nav th:replace="fragments/user/sidebar :: sidebar" class="sidebar"></nav>

	<div class="main-content">
		<nav th:replace="fragments/user/navbar :: navbar"></nav>

		<main class="container-fluid" style="height: 100vh;">
			<div class="my-3">
				<h1 class="h1">Dashboard</h1>
				<hr style="padding: 1px;">
			</div>
			<section>
				<div class="card shadow-sm">
					<div class="container-fluid px-0 mx-0" style="max-height: 400px;">
						<img src="/img/dashboard-img.png" class="img-fluid rounded-3 px-0 mx-0" alt="Dashboard page image">
					</div>
				</div>
			</section>
			<section>
				<div class="card mt-3">
					<div class="container-fluid my-2">
						<h2 class="fs-2">Progress:</h2>
						<div class="progress">
						  <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 5%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<p class="text-center fs-6">0/3</p>
					</div>
				</div>
			</section>
			<section>
				<div class="row">
					<div class="col-12 col-lg-6 my-3">
						<div class="card shadow-sm">
							<h4 class="fs-2 mx-auto">Tasks</h4>
							<div class="col-11 mx-auto my-3 d-grid">
								<button type="button" class="btn btn-primary" onclick="window.location.href='/user/forms';">Forms</button>
							</div>
							<div class="col-11 mx-auto my-3 d-grid">
								<button type="button" class="btn btn-primary" onclick="window.location.href='/user/videos';">Videos</button>
							</div>
							<div class="col-11 mx-auto my-3 d-grid">
								<button type="button" class="btn btn-primary" onclick="window.location.href='/user/test';">Test</button>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-6 my-3">
						<div class="card shadow-sm" style="height: 100%;">
							<h4 class="fs-2 mx-auto">Feedback</h4>
							<div class="container-fluid">
								<form>
									<div class="mb-3">
									  	<label for="userFeedback" class="form-label">Message</label>
									  	<textarea class="form-control" id="userFeedback" rows="3"></textarea>
									</div>
									<div class="col-12 mx-auto my-3 d-grid">
										<button type="submit" class="btn btn-primary">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
</body>

</html>